@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Barlow Semi Condensed", sans-serif;
}

h6 {
  letter-spacing: 3px;
  font-size: 0.9rem;
}

main {
  width: 100%;
  height: 100vh;
  background: #1f3756;
  background: radial-gradient(circle at 50% -50%, #1f3756 45%, #141539 90%);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  height: 100%;
}

.score-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: auto;
  border: 3px solid #606e85;
  border-radius: 15px;
  padding: 0.8rem;
}

.score-table__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  background: white;
  padding: 0.2rem 1.5rem;
  border-radius: 10px;
}

.score-table__points__label {
  color: #2a46c0;
  font-size: 0.8rem;
  letter-spacing: 3px;
}

.score-table__points__score {
  color: #606e85;
  font-size: 2.5rem;
  font-weight: 700;
}

.choose-hand {
  position: relative;
  width: 100%;
  height: 50vh;
}

.pentagon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circle {
  background-color: #fff;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle:hover {
  cursor: pointer;
}

.circle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row:nth-child(2) {
  gap: 8rem;
  margin: 0.3rem 0 2rem 0;
}

.row:nth-child(3) {
  gap: 2.5rem;
}

.scissors {
  -webkit-box-shadow: #dcdcdc 0px 6px 0px 0px inset, #ec9e0e 0px 6px 0px 0px;
          box-shadow: #dcdcdc 0px 6px 0px 0px inset, #ec9e0e 0px 6px 0px 0px;
  border: 0.5rem solid #eca922;
}

.spock {
  -webkit-box-shadow: #dcdcdc 0px 6px 0px 0px inset, #40b9ce 0px 6px 0px 0px;
          box-shadow: #dcdcdc 0px 6px 0px 0px inset, #40b9ce 0px 6px 0px 0px;
  border: 0.5rem solid #52bed1;
}

.rock {
  -webkit-box-shadow: #dcdcdc 0px 6px 0px 0px inset, #dc2e4e 0px 6px 0px 0px;
          box-shadow: #dcdcdc 0px 6px 0px 0px inset, #dc2e4e 0px 6px 0px 0px;
  border: 0.5rem solid #dd405d;
}

.paper {
  -webkit-box-shadow: #dcdcdc 0px 6px 0px 0px inset, #4865f4 0px 6px 0px 0px;
          box-shadow: #dcdcdc 0px 6px 0px 0px inset, #4865f4 0px 6px 0px 0px;
  border: 0.5rem solid #5671f5;
}

.lizard {
  -webkit-box-shadow: #dcdcdc 0px 6px 0px 0px inset, #834fe3 0px 6px 0px 0px;
          box-shadow: #dcdcdc 0px 6px 0px 0px inset, #834fe3 0px 6px 0px 0px;
  border: 0.5rem solid #8c5de5;
}

.hidden {
  display: none;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.contest {
  width: 80%;
  height: 50vh;
}

.scaled-circle {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  margin-top: 5rem;
}

.pick-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pick-container h2 {
  margin: 1rem 0;
}

.pick-container--margin {
  margin: 1rem 0 1rem 2rem;
}

#my-pick,
#house-pick {
  cursor: default;
}

.play-again {
  background-color: #fff;
  color: #161b3e;
  font-size: 0.7rem;
  padding: 0.4rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.winner {
  -webkit-box-shadow: 0 0 0 20px rgba(96, 110, 133, 0.05), 0 0 0 45px rgba(96, 110, 133, 0.08), 0 0 0 70px rgba(96, 110, 133, 0.1);
          box-shadow: 0 0 0 20px rgba(96, 110, 133, 0.05), 0 0 0 45px rgba(96, 110, 133, 0.08), 0 0 0 70px rgba(96, 110, 133, 0.1);
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin: 1.5rem;
}

.rules {
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 0.7rem;
  padding: 0.3rem 1.2rem;
  letter-spacing: 3px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  background-color: #fefefe;
  margin: auto;
  padding: 1rem 2rem 2rem 2rem;
  border: 1px solid #888;
  width: 16rem;
  border-radius: 10px;
}

.modal__content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.modal__content__header h4 {
  color: #3b4363;
}

.modal__content__image {
  width: 100%;
}

.close:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */