@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
@import "_variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
html {
  font-size: 10px;
}
html,
body {
  height: 100%;
  color: #fff;
  font-size: $default-font-size;
  font-family: "Barlow Semi Condensed", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  background: #1f3756;
  background: radial-gradient(circle at 50% -50%, #1f3756 45%, #141539 90%);
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.score-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: auto;
  border: 3px solid $header-outline;
  border-radius: 15px;
  padding: 0.8rem;

  &__points {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background: white;
    padding: 0.2rem 1.5rem;
    border-radius: 10px;

    &__label {
      color: $score-text;
      font-size: 0.8rem;
      letter-spacing: 0.2rem;
    }
    &__score {
      color: $header-outline;
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
}

.choose-hand {
  position: relative;
  width: 100%;
  height: 50vh;
}

.pentagon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  background-color: #fff;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
.circle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.row {
  display: flex;
  &:nth-child(2) {
    gap: 8rem;
    margin: 0.3rem 0 2rem 0;
  }
  &:nth-child(3) {
    gap: 2.5rem;
  }
}

.scissors {
  box-shadow: #dcdcdc 0px 6px 0px 0px inset,
    $scissors-gradient-from 0px 6px 0px 0px;
  border: 0.5rem solid $scissors-gradient-to;
}

.spock {
  box-shadow: #dcdcdc 0px 6px 0px 0px inset,
    $spock-gradient-from 0px 6px 0px 0px;
  border: 0.5rem solid $spock-gradient-to;
}

.rock {
  box-shadow: #dcdcdc 0px 6px 0px 0px inset, $rock-gradient-from 0px 6px 0px 0px;
  border: 0.5rem solid $rock-gradient-to;
}

.paper {
  box-shadow: #dcdcdc 0px 6px 0px 0px inset,
    $paper-gradient-from 0px 6px 0px 0px;
  border: 0.5rem solid $paper-gradient-to;
}

.lizard {
  box-shadow: #dcdcdc 0px 6px 0px 0px inset,
    $lizard-gradient-from 0px 6px 0px 0px;
  border: 0.5rem solid $lizard-gradient-to;
}

.hidden {
  display: none;
}
.visible {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.contest {
  width: 80%;
}
.scaled-circle {
  transform: scale(1.8);
  margin-top: 5rem;
}

.pick-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my-pick,
#house-pick {
  cursor: default;
}

.play-again {
  background-color: #fff;
  color: #161b3e;
  font-size: 0.7rem;
  padding: 0.4rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}
